#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Estilo general de la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Estilo de las celdas del encabezado de la tabla */
.table th {
  background-color: #007bff;
  color: #fff;
  text-align: left;
  padding: 10px;
  border: 2px solid white;
  font-size: medium;
}

/* Estilo de las celdas de datos de la tabla */
.table td {
  text-align: left;
  padding: 10px;
  border: 2px solid #ddd;
  font-size: medium;
}

/* Estilo de las filas pares de la tabla */
.table tbody tr:nth-child(even) {
  background-color: #595959;
}

/* Hover sobre filas */
.table tbody tr:hover {
  background-color: #007bff;
  color: #fff;
}


/* Graphic and traffic light container */
.container .box .box-cell.box1 {
  background:white;
  color:white;
  text-align:left;
}
.container .box .box-cell.box2 {
  text-align:center;
}
.box-row {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos dentro de la fila */
  justify-content: space-evenly; /* Coloca espacio entre los elementos para separarlos */
}

.table-date{
  width: 250px;
}


/* Css Traffic Light */
.trafficLight {
  background-color: black;
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
}
.trafficLight span {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: gray;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* animation: red 5s linear infinite */
  /* animation-fill-mode: forwards; */
}
.red {
  animation-name: red;
}
.yellow {
  animation-name: yellow;
}
.green {
  animation-name: green;
}

@keyframes red {
  0%,
  33% {
    background-color: red;
  }
  34%,
  100% {
    background-color: gray;
  }
}

@keyframes yellow {
  0%,
  33% {
    background-color: gray;
  }
  34%,
  66% {
    background-color: yellow;
  }
  67%,
  100% {
    background-color: gray;
  }
}

@keyframes green {
  0%,
  66% {
    background-color: gray;
  }
  67%,
  100% {
    background-color: green;
  }
}



